<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>

        <div class="content about-image">
        </div>
        
        <div class="content">
            <div class="exclaim about-title">
                ABOUT
            </div>
            <div class="about-description">
                
            </div>
        </div>

        <% include footer %>
    </body>
</html>

