<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>

        <div class="culture-head">
            <div class="culture-image"></div>
            <div class="content">
                <div class="culture-tagline">A PASSION FOR DESIGN<br>A COMMUNITY OF FAITH</div>
            </div>
        </div>
        

        <br><br><br>
        <div class="content">
            <div class="exclaim culture-title">
                CULTURE 
            </div>
            <br>
            <div class="culture-description">
                At Lux Dei Design, we believe that all talent, all passion, all creativity is in service to the Kingdom of God on Earth. Our team encompasses designers, analysts, writers, and software engineers, all united by a shared acknowledgement of the importance of our work.
                <br><br>
                We care deeply about our clients because we all feel God’s love in our own lives, and want to spread the light.
                <br><br>
                Lux Dei Design prides itself on a friendly, open, company atmosphere. We are more than just a team: we are a community, in talent and in purpose.
            </div>
        </div>

        <br><br><br><br>
        <% include footer %>
    </body>
</html>

