<footer>
    <div class="content">
        <br><br><br><br>
        <div class="footer-social">
            <div class="footer-header exclaim">Social</div>
            <div class="footer-info">
                <a href="https://www.facebook.com/pages/Lux-Dei-Design/1494639360793172">Facebook</a> <br>
                <a href="https://www.twitter.com/luxdeidesign">Twitter</a> <br>
            </div>
        </div>
        <div class="footer-contact">
            <div class="footer-header exclaim">Contact</div>
            <div class="footer-info">
                12 Union Square West<br>
                Manhatten, NY <br>
                United States of America<br>
                1001 <br>
            </div>
        </div>
        <!--
        <div class="footer-map">
            <div class="footer-header exclaim">Where we work</div>
        </div>
        -->
        <br><br><br><br>
    </div>
</footer>

<script src="js/jquery-2.1.1.min.js"></script> 
<script src="js/index.js"></script>

