<footer>
    <div class="content">
        <br><br><br><br>
        <div class="footer-social">
            <div class="footer-header exclaim">Social</div>
            <div class="footer-info">
                Facebook <br>
                Instagram <br>
                Twitter <br>
                Pray <br>
            </div>
        </div>
        <div class="footer-contact">
            <div class="footer-header exclaim">Contact</div>
            <div class="footer-info">
                16 Arnold Apt B<br>
                Providence, RI<br>
                United States of America<br>
                02904 <br>
                <br>
                12 Union Square West<br>
                Manhatten, NY <br>
                United States of America<br>
                1001 <br>
            </div>
        </div>
        <div class="footer-map">
            <div class="footer-header exclaim">Where we work</div>
        </div>
        <br><br><br><br>
    </div>
</footer>


