<header>
    <div class="content exclaim">
        Lux Dei Design 
    </div>
</header>

<nav>
    <div class="content">
        <div class="nav-link">Services</div>
        <div class="nav-link">About</div>
        <div class="nav-link">Culture</div>
        <div class="nav-link">McMass</div>
    </div>
</nav>


