<header>
    <div class="content exclaim">
        Lux Dei Design 
    </div>
</header>

<nav>
    <div class="content exclaim">
        <div class="nav-link home"><a href="/">Home</a></div>
        <div class="nav-link services"><a href="/services">Services</a></div>
        <div class="nav-link mission"><a href="/mission">Mission</a></div>
        <div class="nav-link culture"><a href="/culture">Culture</a></div>
        <div class="nav-link mcmass">McMass</div>
    </div>
</nav>


