<meta property="og:title"               content="Lux Dei Design" />
<meta property="og:type"                content="website" />
<meta property="og:description"         content="Even Jesus needs a Facebook." />
<meta property="twitter:card"           content="photo" />
<meta property="twitter:title"          content="Lux Dei Design" />
<meta property="twitter:description"    content="Even Jesus needs a Facebook. "/>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0'" />

<title>Lux Dei Design</title>

<link rel='stylesheet' href='/css/style.css' />

<link href='http://fonts.googleapis.com/css?family=Oswald:700,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>



