<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>

        <div class="splash">
            <div class="content">
                <br><br>
                <div class="tag-line exclaim">
                    LET'S SPREAD THE <br> WORD OF JESUS
                </div>
                <div class="secondary-tag-line exclaim">
                    EVEN JESUS NEEDS A FACEBOOK
                </div>
                <div class="splash-description">
                    How can the word of God compete with all
                    the noise? How can we spread the Love of
                    God to all the children more concerend
                    with their iPads than one another?
                </div>
                <div class="splash-action exclaim">
                    SPREAD GOD'S WORDS
                </div>
            </div>
        </div>
        
        <div class="problem">
            <div class="content">
                <br><br><br><br>
                <div class="problem-title exclaim">
                    THE PROBLEM
                </div>
                <div class="problem-container">
                    <div class="problem-right">
                    </div>
                    <div class="problem-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </div>
                    
                </div>
                <br><br><br><br>
                <br><br>
            </div>
        </div>

        <div class="solution">
            <div class="content">
                <br><br>
                <div class="solution-tag-line exclaim">
                    We use technology to <br> spread the word of God 
                </div>   
                <br><br>
                <div>
                    <div class="service social-spread">
                        <div class="service-header exclaim"> Social Spread</div>
                        <div class="service-image"></div>
                        <div class="service-description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br><br>
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                        </div>
                        <div class="service-action exclaim">Learn About Effective Social Spread</div>
                    </div>
                    <div class="service web-presence">
                        <div class="service-header exclaim"> Web Presence </div>
                        <div class="service-image"></div>
                        <div class="service-description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br><br>
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                        </div>
                        <div class="service-action exclaim">Learn About An Effective Web Presence</div>
                    </div>
                </div>
                <br><br><br><br>
                <br><br>
            </div>
        </div>
        
        <% include footer %>
    </body>
</html>
