<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>

        <div class="mission-head">
            <div class="mission-image"></div>
            <div class="content">
                <div class="mission-tagline">DESIGN IN THE SERVICE OF GOD</div>
            </div>
        </div>
        
        <br><br><br>
        <div class="content">
            <div class="exclaim mission-title">
                MISSION 
            </div>
            <br>
            <div class="mission-description">
                Lux Dei Design was founded on the principle that a passion for Christ deserves bold, innovative, design. 
                <br><br>
                Jesus is the most important figure in our world. The Church has a responsibility to ensure His word reaches all those in need of His love. The internet has given us the most effective way to speak and be heard; At Lux Dei Design, we use cutting edge communication technology to sing the Word for all to hear.
            </div>
        </div>

        <br><br><br><br>
        <% include footer %>
    </body>
</html>

