<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include header %>

        <div class="services-head">
            <div class="services-image-one services-images"></div>
            <div class="content">
                <div class="services-tagline">THE BEST MESSAGE<br>GETS PEOPLE TALKING</div>
            </div>
        </div>

        <br><br><br>
        <div class="content">
            <div class="exclaim service-title social-spread-title">
                Social Spread
            </div>
            <br>
            <div class="social-spread-description">
                Lux Dei Design provides comprehensive research, content generation, and analytics services so that your message has the strongest possible social presence.
                <br><br>
                Today’s communications technology has given us the opportunity to reach exponentially more people, and we need to leverage this power. Designing how, and when, your information is delivered let’s your words travel ever further as people hear and share. 
                <br><br>
                Let’s create unique experiences that are intrinsically social, and spread the message of Christ’s love all across the earth.
            </div>
        </div>

        <br><br><br>
        
        <div class="content">
            <div class="social-spread-features">
                <div class="social-spread-feature social-spread-feature-one">
                    <img src="/media/social-spread-feature-one.png" width="200px" height="200px"/>
                    <div class="social-spread-feature-header exclaim">Visibility</div>
                    <div class="social-spread-feature-description">
                        Social media has the potential to reach massive audiences, and to expand further as individual users share content. Lux Dei Design helps you cultivate a portfolio of social platforms, and maximize your effective presence.
                        <br><br>
                        We can help speak with the greatest impact, because God’s word needs to be heard by the greatest number of people.
                    </div>
                </div>
                <div class="social-spread-feature social-spread-feature-two">
                    <img src="/media/social-spread-feature-two.png" width="200px" height="200px"/>
                    <div class="social-spread-feature-header exclaim">Strategy</div>
                    <div class="social-spread-feature-description">
                        At Lux Dei Design, we know that the best messages are intrinsically social and shareable. We specialize in targeted research, leveraging our extensive database of social data to understand your core demographics inside and out. Creative content and well-timed delivery can expand your following, and a comprehensive community engagement strategy will keep them coming back for more.
                    </div>
                </div>
                <div class="social-spread-feature social-spread-feature-three last">
                    <img src="/media/social-spread-feature-three.png" width="200px" height="200px"/>
                    <div class="social-spread-feature-header exclaim">Analytics</div>
                    <div class="social-spread-feature-description">
                        To get the most out of your social media, you need to know the numbers. Lux Dei Design’s analytics department specializes in quantifying impact and identifying actionable data. 
                        <br><br>
                        We provide real-time insights and engagement solutions, so that each new interaction with your audience can be stronger than the last.
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div class="services-head">
            <div class="services-image-two services-images"></div>
            <div class="content">
                <div class="services-tagline">A NEW CHURCH<br>FOR A NEW WORLD</div>
            </div>
        </div>

        <br><br><br>
        <div class="content">
            <div class="exclaim service-title social-spread-title">
                Web Presence
            </div>
            <br>
            <div class="social-spread-description">
                The internet is an unparalleled opportunity to become visible to new people, and to stay in touch with churchgoers after the sermon ends.
                <br><br>
                Establishing a positive web presence is like building a church that people can come to at anytime. Lux dei Design are professionals with years of experience in design and user interaction. Together, we can help you get even closer with people.
            </div>
        </div>

        <br><br><br>

        <div class="content">
            <div class="web-presence-feature-one">
                <div class="web-presence-feature-header exclaim">Connect</div>
                <div class="web-presence-feature-image"></div>
                <div class="web-presence-feature-description">
                    Your church provides information that can be life-changing for those seeking God. By establishing a powerful web presence, you have the chance to make those teachings available whenever people are looking for guidance.
                </div>
            </div>
        </div>

        <br>
        <div class="content">
            <hr>
        </div>
        <br>

        <div class="content">
            <div class="web-presence-feature-two">
                <div class="web-presence-feature-header exclaim">Discover</div>
                <div class="web-presence-feature-image"></div>
                <div class="web-presence-feature-description">
                    Your website can be the gateway for people looking for answers. New worshippers, looking for the truth, may not know where to turn. We work with you to make sure that your message can truly reach and touch people online, and connect on an intimate, heartfelt level. In this way we have the chance to reach out to a whole new audience in need of God’s love.
                </div>
            </div>
        </div>


        <br><br><br><br>

        <% include footer %>
    </body>
</html>

